a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: #35c15b;
    text-decoration: none;
    text-shadow: #2B2B2B 2px 2px 3px;
}
p {
    text-shadow: #2B2B2B 1px 1px 2px;
}
h1 {
    font-family: 'Jura', sans-serif;
    text-shadow: #2B2B2B 1px 1px 2px;
}
header {
    font-family: 'Jura', sans-serif;
    font-size: 1em;
}
.h1UpTop {
    position: absolute;
    top: 50px;
    z-index: 1000;
}
.mainsection {
    position: relative;
    margin: 0 auto;
    height: 80%;
    width: 70%;
    left: -60px;
}
@font-face {font-family:
    'RaphaelIcons';
    src:
    url('../fonts/raphaelicons-webfont.eot');
    src:
    local('☺'), url('../fonts/raphaelicons-webfont.woff') format('woff'), url('../fonts/raphaelicons-webfont.ttf') format('truetype'), url('../fonts/raphaelicons-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
#mainPage {
    background-image: url("/img/bg1.png");
    background-repeat: no-repeat;
    background-position: center;
}
.icon {
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    font-family: 'RaphaelIcons';
    font-size: 1.3em;
    position: relative;
    top: 0.1em;
    margin: 0px 5px 0px 5px;
}
.image {
    margin: 5px;
    border-radius: 5px;
    /*box-shadow: 1px 1px 1px black;*/
}
.controlArrow {

}
.controlArrow.next {

}
.controlArrow.previous {

}
body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    color: yellow;
    font-size: 1.5em;
}
article p {
    color: yellow;
}
#topFade {
    z-index: 100;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    top: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}
#bottomFade {
    z-index: 100;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}
nav {
    font-family: 'RaphaelIcons';
    font-size: 1.5em;
    position: fixed;
    text-align: right;
    right: 50px;
    bottom: 50px;
    z-index: 125;
    height: 20px;
    width: 100%;  
}
nav a:hover {
    color: yellow;
    text-shadow: #2B2B2B 1px 1px 2px;
}
#arrowcontainer {
    position: absolute;
    left: 50%;
    bottom: -75px;
    margin-left: -29px;
}
#arrowdown {
    background: url("/img/arrowdown.png") top left no-repeat;
    position: relative;
    display: inline-block;
    height: 30px;
    width: 50px;
    -webkit-animation: mymove 1.75s ease-in-out infinite;
}
@keyframes mymove {
    0%   { padding-bottom: 50px;}
    50%  { padding-bottom: 75px;}
    100% { padding-bottom: 50px;}
}

@-webkit-keyframes mymove {
    0%   { padding-bottom: 50px;}
    50%  { padding-bottom: 75px;}
    100% { padding-bottom: 50px;}
}
/*~~~~~~~~~~~~~~~~~~nextlevelshit~~~~~~~~~~~~~~~~~~~~~*/

header a {
    text-decoration: none; 
    font-size: 3.7em;;
    color: yellow;
    text-shadow: #2B2B2B 2px 2px 2px;
}
header a:hover {
    text-shadow: #2B2B2B 1px 1px 2px;
    color: yellow;
}

@-webkit-keyframes wiggle
{
    0% {-webkit-transform: rotateZ(2deg);}
    50% {-webkit-transform: rotateZ(-2deg);}
    100% {-webkit-transform: rotateZ(2deg);}
}
@-moz-keyframes wiggle
{
    0% {-moz-transform: rotateZ(2deg);}
    50% {-moz-transform: rotateZ(-2deg);}
    100% {-moz-transform: rotateZ(2deg);}
}
@-o-keyframes wiggle
{
    0% {-o-transform: rotateZ(2deg);}
    50% {-o-transform: rotateZ(-2deg);}
    100% {-o-transform: rotateZ(2deg);}
}
@keyframes wiggle
{
    0% {transform: rotateZ(2deg);}
    50% {transform: rotateZ(-2deg);}
    100% {transform: rotateZ(2deg);}
}

.wiggleIcon:hover {
    -webkit-animation: wiggle 0.2s ease infinite;
    -moz-animation: wiggle 0.2s ease infinite;
    -o-animation: wiggle 0.2s ease infinite;
    animation: wiggle 0.2s ease infinite;
}
.wiggle:hover {
    -webkit-animation: wiggle 0.3s ease infinite;
    -moz-animation: wiggle 0.3s ease infinite;
    -o-animation: wiggle 0.3s ease infinite;
    animation: wiggle 0.3s ease infinite;
}
.clickable:hover {
    cursor: pointer;
}
/*~~~~~~~~~~~~~~~~~~sectionz~~~~~~~~~~~~~~~~~~~~~*/

.slide {
    padding: 100px;
}

.fullPageImage {
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.description {
    position: relative;
    height: 200px;
    width: 500px;
    margin: auto;
}
/*~~~~~~~~~~~~~~~~~~~~Section 1~~~~~~~~~~~~~~~~~~~~*/

#exohelixsite {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0px;
    left: 150px;
}
#exohelixsite:after {
    background-color: #2B2B2B;
}
#arsllc {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    left: 200px;
    top: 100px;
}
#arsllc:after {
    background-color: #857A87;
}

        /*~~~~~~~~~~CSS3D~~~~SITES~~~~~~~~~~~*/
.site {
    display: inline-block;
    margin: 10px;
}

.site img { vertical-align: middle; }
.website {
    height: 385px;
    width: 720px;
    transition: .3s ease-out;
}
.website:hover {
    height: 395px;
    width: 730px;
    transform: rotate(2deg);
    box-shadow: #2B2B2B 5px 5px 5px;
}

#siteTxtCont {
    position: relative;
    width: 1000px;
    height: 50px;
    left: 150px;
    top: 50px;
}
.onTxt {
    opacity: 1;
    position: absolute;

}
.offTxt {
    opacity: 0;
    position: absolute;
}
/*~~~~~~~~~~~~~~~~~~~Section 2~~~~~~~~~~~~~~~~~~~~~~*/
.shadow {
    box-shadow: #2B2B2B 2px 2px 2px;
}
.draggable {
    position: absolute;
}
#poster1 {
    background-image: url('/img/poster.png');
    background-size: contain;
    height: 613px;
    width: 397px;
    transform: rotate(-10deg);
    top: 120px;
    left: 168px;
}
#cover1 {
    background-image: url('/img/hipstercover1.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
    top: 228px;
    left: 830px;
    transform: rotate(5deg);
}
#cover2 {
    background-image: url('/img/sojourn.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 350px;
    width: 350px;
    top: 304px;
    left: 455px;
    transform: rotate(-5deg);
}
#logo1 {
    background-image: url('/img/exologo4.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 279px;
    width: 400px;
    left: 492px;
    top: 13px;
}
#infographic {
    background-image: url('/img/indymap2.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 860px;
    height: 644px;
    left: 670px;
    top: 70px;
    transform: rotate(10deg);
}
#gamecover {
    background-image: url('/img/gamecover.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 561px;
    left: 650px;
    top: 200px;
    transform: rotate(5deg);
}
#logo2 {
    background-image: url('/img/abstractionlogo.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 290px;
    height: 149px;
    left: 100px;
    top: 300px;
    transform: rotate(-15deg);
}
/*~~~~~~~~~~~~~~~~~~Section 3~~~~~~~~~~~~~~~~~~~~~~*/

#space {
    background-image: url('/img/space.png');
    background-size: contain;
    width: 717px;
    height: 388px;
    margin-left: 100px;
}
#cooper {
    background-image: url('/img/cooperzteethgrnz.png');
    background-size: contain;
    position: relative;
    width: 500px;
    height: 312px;
    margin: auto;
    left: -100px;
}