a {
    color: white;
    text-decoration: none;
}
.mainsection {
    position: relative;
    top: -50px;
    margin: 0 auto;
    height: 80%;
    width: 70%;
 /*   padding: 20px 40px 20px 40px;*/
}
@font-face {font-family:
    'RaphaelIcons';
    src:
    url('../fonts/raphaelicons-webfont.eot');
    src:
    local('☺'), url('../fonts/raphaelicons-webfont.woff') format('woff'), url('../fonts/raphaelicons-webfont.ttf') format('truetype'), url('../fonts/raphaelicons-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
.icon {
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    font-family: 'RaphaelIcons';
    font-size: 1.3em;
    position: relative;
    top: 0.1em;
    margin: 0px 5px 0px 5px;
}
.image {
    margin: 5px;
    border-radius: 5px;
    /*box-shadow: 1px 1px 1px black;*/
}
.controlArrow {

}
.controlArrow.next {

}
.controlArrow.previous {

}
body {
    font-family: 'jura', sans-serif;
    font-weight: 600;
    color: yellow;
}
article {

}
nav {
    font-family: 'RaphaelIcons';
    font-size: 1.3em;
    position: fixed;
    text-align: right;
    right: 50px;
    bottom: 50px;
    z-index: 70;
    height: 20px;
    width: 100%;  
}
nav a:hover {
    color: yellow;
    text-shadow: grey 2px 2px;
}

/*~~~~~~~~~~~~~~~~~~nextlevelshit~~~~~~~~~~~~~~~~~~~~~*/

header a {
    text-decoration: none; 
    font-size: 3.7em;;
    color: yellow;
    text-shadow: grey 2px 3px;
}
header a:hover {
    text-shadow: grey 1px 2px;
    color: yellow;
}
/*~~~~~~~~~~~~~~~~~~~~~~~Circles~~~~~~~~~~~~~~~~~~~~~~~~*/
#navContainer{
    width: 100%;
}
.circleContainer {
    cursor: pointer;
    display: inline-block;
    height: 150px;
    width: 100px;
    margin: 50px;
}

/*.circle:before {
    background-color: #455edb;
    width: 9em;
    height: 9em;
    border-radius: 50%;
    position: absolute;
}
.circle:after {
    background-color: #ffc100;
    width: 7em;
    height: 7em;
    border-radius: 50%;
    position: absolute;
}
.circle:before:hover {
    width: 10em;
    height: 10em;
    -webkit-animation: width height 0.3s ease;
    -moz-animation: width height 0.3s ease;
    -o-animation: width height 0.3s ease;
    animation: width height 0.3s ease;
}
.circle:hover {
    width: 9em;
    height: 9em;
   -webkit-animation: width height 0.3s ease;
    -moz-animation: width height 0.3s ease;
    -o-animation: width height 0.3s ease;
    animation: width height 0.3s ease; 
}*/
.circlebottom {
    border-radius: 50%;
    width: 9em;
    height: 9em;
	background-color: #ffc100;
    position: absolute;
}

/*.circlemiddlest {
    border-radius: 50%;
    width: 8em;
    height: 8em;
	background-color: #5DF863;
    position: absolute;
}*/

.circlemiddle {
    border-radius: 50%;
    width: 8em;
    height: 8em;
	background-image: url(/img/bgcirclegif1.gif);
    position: absolute;
    top: 10px;
    left: 10px;
}

.circletop {
    border-radius: 50%;
    width: 7em;
    height: 7em;
	background-color: #455edb;
    position: relative;
    top: 15px;
    left: 15px;
}
@-webkit-keyframes wiggle
{
    0% {-webkit-transform: rotateZ(2deg);}
    50% {-webkit-transform: rotateZ(-2deg);}
    100% {-webkit-transform: rotateZ(2deg);}
}
@-moz-keyframes wiggle
{
    0% {-moz-transform: rotateZ(2deg);}
    50% {-moz-transform: rotateZ(-2deg);}
    100% {-moz-transform: rotateZ(2deg);}
}
@-o-keyframes wiggle
{
    0% {-o-transform: rotateZ(2deg);}
    50% {-o-transform: rotateZ(-2deg);}
    100% {-o-transform: rotateZ(2deg);}
}
@keyframes wiggle
{
    0% {transform: rotateZ(2deg);}
    50% {transform: rotateZ(-2deg);}
    100% {transform: rotateZ(2deg);}
}

.wiggle:hover {
    -webkit-animation: wiggle 0.2s ease infinite;
    -moz-animation: wiggle 0.2s ease infinite;
    -o-animation: wiggle 0.2s ease infinite;
    animation: wiggle 0.2s ease infinite;
}
.wiggleMiddle:hover {
    -webkit-animation: wiggle 0.3s ease infinite;
    -moz-animation: wiggle 0.3s ease infinite;
    -o-animation: wiggle 0.3s ease infinite;
    animation: wiggle 0.3s ease infinite;
}
/*~~~~~~~~~~~~~~~~~~sectionz~~~~~~~~~~~~~~~~~~~~~

#section1 {

}
#section2 {
    /*background-image: url(/img/background1.png);
    background-size: cover;*/
}
.slide {
    padding: 100px;
}
.website {
    height: 390px;
    width: 720px;
}
.poster {
    width: 220px;
    height: 350px;
}
.fullPageImage {
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.logo {
    height: 220px;
    width: 300px;
}
#exohelixsite {
    background-image: url('/img/exohelixsite.png');
    background-size: cover;
}
#arsllc {
    background-image: url('/img/arsllc.png');
    background-size: cover;
}
#poster1 {
    background-image: url('/img/poster.png');
    background-size: contain;
    position: relative;
    left: -100px;
    top: -100px;
    max-width: 794px;
    min-width: 397px;
    max-height: 1226px; 
    min-height: 613px;
    margin: 0 auto; 
}
#cover1 {
    background-image: url('/img/hipstercover1.png');
}
#cover2 {
    background-image: url('/img/sojourn.png');
}
#logo1 {
    background-image: url('/img/exologo2.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 517px;
    width: 667px;
}
#infographic {
    background-image: url('/img/indymap2.png');
    padding: 6% 0 0 0;
    /*width: 573px;
    height: 431px;*/
}
#space {
    background-image: url('/img/space.png');
    background-size: contain;
}
#cooper {
    background-image: url('/img/cooperzteethgrnz.png');
    background-size: contain;
    width: 500px;
    height: 312px;
}